/*CSS*/
@import url(http://fonts.googleapis.com/css?family=Trade+Winds);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
  margin: 0 auto;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

img {
  position: relative;
}

h1 {
  font-family: Trade Winds;
  font-size: 1.75em;
  text-align: left;
  color: #C9CDC5;
  margin-left: 5%
}

ul {
  list-style-type: none;
}

li {
display: inline-block;
background-repeat: no-repeat;
background-position: center;
text-align:center;
width: 110px;
height: 110px;
vertical-align: top;
padding: 5px, 5px, 5px, 5px;
font-family: PT Sans Narrow;
font-weight: bold;
line-height: 40px
font-size: 1.25em;
}

header {
  vertical-align: top;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%
}

.sort-button {
  position: relative;
  vertical-align: top;
  margin-right: 15%;
  font-family: Trade Winds;
  font-size: 1.5em;
}

.explanation {
  background-image: url(../images/snowboard-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 5px, 15px, 5px, 15px;
  min-height: 200px;
}

.explanation p {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  color: #C9CDC5;
  font-family: PT-Sans Narrow;
}

.winner {
  font-family: Trade Winds;
  font-size: 1.5em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
