/*CSS*/
body {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
img {
  /*display: none;*/
  padding: 1%, .5%, 0, .5%
  float left;
}

li {
display: inline-block;
padding: 5%, 5%, 5%, 5%;
margin: 5%, 5%, 5%, 5%;
/*float: left;*/
text-align:center;
width: 150px;
margin-top: 5px;
vertical-align: top;
}

li:last-child {
  /*display: none;*/
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  /*background-color: green;*/
}

.resort-list {
  background-color: green;
}

.sorting {
  background-color: yellow;
}
